body {
    margin: 0;
    padding: 0;
}

#content {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#navWrapper {
    display: flex;
    justify-content: center;

    background-color: #616161;
    padding-top: 1.2rem;
}

.navItem {
    text-decoration: none;

    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 0.8rem 2rem 0.6rem 2rem;
    color: #fff;
    background-color: inherit;
}

.navItem:last-of-type {
    border-right: 1px solid #bbb;
}

.activeItem {
    background-color: #999;
    border: none;
}

.activeItem:last-child {
    border-right: none;
}